<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="JavacPath" value="C:\Program Files (x86)\Java\jre1.8.0_201\bin\javac.exe"/>
        <add key="JavaPath" value="C:\Program Files (x86)\Java\jre1.8.0_201\bin\java.exe"/>
        <add key="Chrome" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
        <add key="NodeJS" value="C:\Program Files\nodejs\node.exe"/>
    </appSettings>
</configuration>